<?php

# Connection to the world database (address, username, password)
$db = new mysqli("localhost", "root", "password");

# Name of your world database
$world_db = "world";

# Name of your characters database
$characters_db = "characters";

# Quest URL
$url = "http://wotlk.openwow.com/quest=";

if (mysqli_connect_error())
  die('Connect Error (' . mysqli_connect_errno() . ') '
      . mysqli_connect_error());

?>

